<div class="flex items-center justify-center h-screen" data-controller="chatbot" data-conversation-id="<%= @conversation.id %>">
  <div class="chat-container w-3/4 border shadow-lg p-4">
    <%= turbo_frame_tag 'messages' do %>
      <div class="chat-messages">
        <!-- Contenido del chat aquí -->
        <%= render partial: 'title_message' %>
        <% @main_options.each do |option| %>
          <%= render partial: 'bot_message', locals: { option: option } %>
        <% end %>
      </div>
    <% end %>

    <%= render partial: 'send_message' %>
  </div>
</div>